<div class="{{col_class}} mb-3">
    <div class="graphreports-chart-card">
        <div class="graphreports-chart-title">{{chart_title}}</div>
        <div class="graphreports-chart-wrapper">
            <canvas id="{{chart_id}}" class="h-100 w-100" data-chart="{{chart_data}}"></canvas>
        </div>
    </div>
</div>
