<div class="graphreports-chart-card">
    <div class="graphreports-chart-title">{{chart_title}}</div>
    <div class="graphreports-chart-wrapper">
        <canvas id="{{chart_id}}" data-chart="{{{chart_data}}}"></canvas>
    </div>
</div>
